.vscode/
*.cache
__pycache__
venv
snorlax/.DS_Store
*.egg-info
dist/
build/
debugging/
webapp/

# iPython Notebook files
.ipynb_checkpoints/
*.ipynb

# ignore credentials files/or environment variables
credentials
*.logs

# dotenv-vault credentials to store environment variables securely
.env*
.flaskenv*
!.env.project
!.env.vault